<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Selenium Category"
            id="fr.minesnantes.browserautomation.plugin.commands.category">
      </category>
      <command
            name="Selenium Command"
            categoryId="fr.minesnantes.browserautomation.plugin.commands.category"
            id="fr.minesnantes.browserautomation.plugin.commands.seleniumCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="fr.minesnantes.browserautomation.plugin.commands.seleniumCommand"
            class="fr.minesnantes.browserautomation.plugin.handlers.SeleniumHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fr.minesnantes.browserautomation.plugin.commands.seleniumCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Selenium Menu"
               mnemonic="S"
               id="fr.minesnantes.browserautomation.plugin.menus.seleniumMenu">
            <command
                  commandId="fr.minesnantes.browserautomation.plugin.commands.seleniumCommand"
                  mnemonic="S"
                  id="fr.minesnantes.browserautomation.plugin.menus.seleniumCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="fr.minesnantes.browserautomation.plugin.toolbars.seleniumToolbar">
            <command
                  commandId="fr.minesnantes.browserautomation.plugin.commands.seleniumCommand"
                  icon="icons/selenium-logo.png"
                  tooltip="Run Selenium test"
                  id="fr.minesnantes.browserautomation.plugin.toolbars.seleniumCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
